<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612776547154-a62dh8ggp74alqd0nkjtlu5d24viiag3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612776547154-a62dh8ggp74alqd0nkjtlu5d24viiag3</string>
	<key>API_KEY</key>
	<string>AIzaSyApjHsM5sv9EqlG-X3m5a4jOLyyfHeZFOk</string>
	<key>GCM_SENDER_ID</key>
	<string>612776547154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groupany.fangapp</string>
	<key>PROJECT_ID</key>
	<string>fangapp-988d5</string>
	<key>STORAGE_BUCKET</key>
	<string>fangapp-988d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612776547154:ios:8cf63e651e1ba19e93e08b</string>
	<key>DATABASE_URL</key>
	<string>https://fangapp-988d5.firebaseio.com</string>
</dict>
</plist>